html {
  overflow-x: hidden; 
}
  @media (max-width: 575.98px) {
    html {
      font-size: 55%; } }
  @media (min-width: 576px) and (max-width: 767.98px) {
    html {
      font-size: 58%; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    html {
      font-size: 60%; } }
  @media (min-width: 992px) and (max-width: 1199.98px) {
    html {
      font-size: 62.5%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 62.5%; } }
@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNext.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNext-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNext-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: AvenirNext;
  src: url('./fonts/AvenirNext-Demi.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: Circular;
  src: url('./fonts/circular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden !important;
  font-family: AvenirNext, sans-serif;
}
p {
  margin: 0; 
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold; 
}
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.5; 
}
h1 {
  font-size: 5rem;
  font-weight: 900; 
}
h2 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 4rem; 
}
h3 {
  font-size: 1.6rem;
  font-weight: 900; 
}
a {
  color: #1475fb ;
  font-weight: bold;
  transition: ease all .1s; 
}
  a:hover {
    color: #1475fb;
    text-decoration: none;
    filter: brightness(160%); 
  }
article.section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: white; 
}
strong {
  font-weight: bold; 
}
a.button {
  border: 2px solid #1475fb;
  border-radius: 10rem;
  padding: 1rem 2rem;
  font-size: 1.4rem; }
  a.button:hover {
    border-color: #1475fb;
    text-decoration: none; 
  }
.resume_button {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  border-radius: 10rem;
  padding: 1rem 2rem;
  font-size: 1.4rem; 
}
  .resume_button:hover {
    color: #1475fb;
    border-color: #1475fb;
    text-decoration: none; 
  }
.section, section.intro, section.exp, section.featured, section.contact {
  padding-top: 8rem;
  padding-bottom: 8rem; 
}
ul.tags {
  list-style: none;
  padding: 0;
}
  ul.tags li {
    display: inline-block;
    color: #666;
    border: 1px solid #aaa;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
    line-height: 1;
    border-radius: 5px;
    /* margin-bottom: .25rem; */
    font-family: Circular, monospace; 
  }
section.hero {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #fafafa;
  background-image: url(./img/IMG_8230_darker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
  section.hero .name {
    white-space: nowrap; 
  }
  section.hero h1 {
    margin-bottom: 2rem;
    color: #FFFFFF; 
  }
  section.hero p {
    margin-bottom: 4rem;
    color: #FFFFFF;
    font-weight: bold; 
  }
section.intro {
  font-size: 1.8rem;
}
  section.intro h2 {
    font-size: 2.25rem;
  }
  section.intro p {
    margin-bottom: 16rem; }
section.exp {
    background-color: #fafafa;
}
  section.exp .exp-block {
    margin-bottom: 2rem;
  }
  section.exp .date {
    opacity: .5; 
  }
  section.exp ul {
    list-style: none;
    padding-left: 0;
  }
section.contact {
  background-color: #fafafa;
} section.contact a {
    margin-right: 2rem; 
  }
section.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff; 
} section.footer p {
    opacity: .5; 
  }
.active {
  color: #22e800;
  opacity: 1;
  animation: fade 2s infinite; 
}
section.featured {
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
} section.featured h3 {
    font-size: 2.3rem;
  }
.project-thumbnail {
  background-color:#fff ;
} 
section.featured a {
  padding: 0;
}
section.featured a img {
  max-width: 70rem;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
}
section.featured a:hover img {
  opacity: 0.8;
  filter: blur(1px);
  transition: all 0.3s cubic-bezier(0.3, 0, 0.4, 1);
  cursor: pointer;
}
@keyframes fade {
  0%, 100% {
    opacity: .3; }
  50% {
    opacity: 1; } }
