
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
}

.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
    margin: 1rem;
  }
}

media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
    margin: 1rem;
  }
}
